*{
 box-sizing: border-box;
 margin: 0;
}

body{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Helvetica Neue',Arial,sans-serif;
	background: #B683C3;
}

header{
	width: 100%;
	height: 120px;
	background: #EBF4FA;
	box-shadow: 2px 0px 20px black;
}
header .title{
	width: 350px;
	color: #181E34;
	font-weight: 800;
	font-size: 48px;
	padding: 25px 0 30px 0;
	
}
main{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 75%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.new_task{
	margin-top: 10px;
	position: sticky;
	z-index: 100;
	width: 100%;
	height: 150px;
	top:10px;
}
.new_task form {
	border-radius: 2px;
	background-color: #181E34;
	width: 325px;
	height: 130px;
	border: 2px solid #EBF4FA; 
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.new_task label{
	font-size: 18px;
	color: #EBF4FA;
	font-weight: bold; 
}
 
.forma{
	vertical-align: center;
	font-size: 16px;
	margin-top: 5px;
	width: 300px;
	font-style: italic;
	height: 40px;
	padding: 10px;	
	border: 1px solid #5c699b;
}
.forma2{
	padding: 0px;
	margin-left: 200px;
	font-weight: bolder;
	background-color:#EBF4FA; 
	font-size: 16px;
	width: 100px;
	font-style: normal;
	height: 30px;
	border-radius: 0;
	transition: 0.2s all ease-in-out;
	}
.forma2:hover{
	border-radius:10px;
	cursor: pointer;
}

.wrap-for-columns{
	width: 100%;
	display:flex;
	justify-content: space-between;
	height: 900px;
	margin-bottom:  60px;
}

.columns{
	width: 300px;
	background: #EBF4FA;
	border-radius: 5px;
	border:3px dotted #181E34;
	padding: 15px;
	
}
.columns h2{
text-decoration: none;
font-size: 30px;
text-align: center;
padding-bottom: 10px;
color:#181E34;
}

.columns hr{
	height: 4px;
	color:#181E34;
	background-color: #181E34;
	width: 200px;
	margin: 0 auto;	
}

.wrap-for-sticks{
	margin: 0 auto;
	padding-top: 15px;
	margin-right: 0;
	width: 270px;
	height: 799px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.sticks{
	padding: 10px;
	width: 250px;
	height: 230px;
	background-color: #ffcccc;
	box-shadow: 6px 4px 20px #9f9393;
	margin-bottom: 20px;
	position: relative;
}
.sticks h3{
	font-size: 20px;
	margin-bottom:  15px;
}

.far{
	font-family: "Font Awesome 5 Free";
}

footer {
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
    width: 100%;
    height: 40px;
    background-color: #181E34;
}
footer p{
	text-align: center;
	font-size: 20px;
	color: #EBF4FA;
	font-weight: bold;
	margin: 0 auto;
	margin-top: 6.5px;
}
.wrap-for-text{
	height: 147px;
	width: 230px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sticks p{
	font-size: 17px;
	margin-bottom:  10px;
	text-align: justify;
	width: 180px;
	height: 157px;
}

.icons{
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	padding-left: 10px;
	width: 50px;
	height: 157px;

}
.icons-mobile{
	display: none;
	flex-direction: column-reverse;
	justify-content: flex-start;
	padding-left: 10px;
	width: 50px;
	height: 157px;

}
.icons a, .icons-mobile a{
	text-decoration: none;
	color: #181E34;
}
.icons i, .icons-mobile i{
padding-top: 8px;
}

.sticks a:hover{
	cursor: pointer;
}
.next{
	display: block;
	position: absolute;
	text-decoration: none;
	color: #181E34;
	top: 7px;
	left: 200px;
}

.info {
   	display: inline-block;
    vertical-align: middle;
    height: 80%;
    font-size: 18px;
    width: 420px;
    color: #181E34;
    position: absolute;
    right: 0;
    top: 10px;
    text-align: justify;
    font-style: italic;
}
.info i{
	position: absolute;
	top: 22px;
	left: -65px;
}
.menu{
	display: none;
	background: #EBF4FA;
	width: 100%;
}
.menu a{
	display: block;
	text-decoration: none;
	color:#181E34;
	text-align: center;
	font-style: italic;
	font-weight: bolder;
	font-size: 25px;
	padding: 10px;
	border-bottom: 1px solid #181E34;
}
@media (max-width: 1199px) {
	.wrap, .wrap-for-columns{
		width: 100%;
	}
	.title{
		margin-left: 50px;
	}
	.info i{
		display: none;
	}
	.info{
	right: 65px;	
	}
	.new_task{
	display: flex;
	justify-content: center;
	position: relative;
	}
	.new_task form{
	width: 430px;
	}
	.forma{
		width: 400px;
	}
	.forma2{
		width: 200px;
	}
}
@media (max-width: 991px) {
	.title{
		margin: 0 auto;
	}
	.info{
		display: none;
	}
	.new_task{
		margin-top: 0;
		top: 0;
		height: 130px;
	}
	.new_task form{
	width: 100%;
	border: none;
	}
	.new_task form label{
	font-size: 22px;
	margin: 0 auto;
	}
	.forma{
		width: 80%;
		margin: 0 auto;
		margin-top: 5px;
		font-size: 18px;
	}
	.menu{
		display: block;
	}
	.wrap-for-columns{
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 80px;
	height: 2800px;
}
	.columns{
		margin-bottom: 15px;
		width: 500px;
	}
.wrap-for-sticks{
	width: 470px;
}

.sticks{
	width: 450px;
}
.sticks h3{
	font-size: 28px;
}

.wrap-for-text{
	width: 430px;
	}
.sticks p{
	font-size: 22px;
	width: 340px;
}

.icons{
	display: none;
}
.icons-mobile{
	display: flex;
	padding-left: 0;
	position: relative;
	top:-10px;
}

.icons-mobile i{
padding-top: 15px;
}

.next{
	display: none;
}

}

@media (max-width: 767px) {
	header .title{
		font-size: 40px;
		text-align: center;

	}
	.columns{
		width: 95%;
	}
.wrap-for-sticks{
	width: 95%;
}

.sticks{
	width: 95%;
}
.sticks h3{
	font-size: 28px;
}

.wrap-for-text{
	width: 95%;
	}
.sticks p{
	font-size: 22px;
	width: 80%;
}

.icons{
	display: none;
}
.icons-mobile{
	display: flex;
	padding-left: 0;
	position: relative;
	top:-10px;
	left: 15px;
}
footer p{
	font-size: 13px;
	margin-top: 18px;
}


}
